
h1
{
    color: red;
    font-weight:  10;
    font-size: 3em;
    font-family: 'avenir',sans-serif;
    text-align: center;
}

h2 
{
color:brown;
font-size: 2em;
}

h3
{
color: chartreuse;
font-weight: bold;
font-family: 'roboto',sans-serif;

}

body
{
    background-image: url(media/mur\ blanc.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}

img {
    width: 200px;
    display: block;
    text-align: left;
  }
